<div class="center jumbotron">
	<h1>iGrocery</h1>
	
	<h2>
		<%= t('this_is_the_home_page') %>
		<%= link_to 'iGrocery', root_path %>
		<%= t('money_saving_application') %>
	</h2>
	
	<%= link_to t(:sign_up_now) + "!", signup_path, class: "btn btn-lg btn-primary" %>
</div>