<footer class="footer">
	<small>
		<%= link_to "iGrocery app", root_path %>
		<%= t('is_proudly_built') %>
	</small>
	<nav>
		<ul>
			<li><%= link_to t('about'),   about_path %></li>
			<li><%= link_to t('contact'), contact_path %></li>
		</ul>
	</nav>
</footer>
